name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Build and Push"
    runs-on: ubuntu-latest
    # strategy:
    #   matrix:
    #     node: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - name: Setup Node.js environment | ${{ matrix.node }}
        uses: actions/setup-node@v6.2.0
        with:
          # node-version: ${{ matrix.node }}
          node-version: 20
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm test

      - name: Generate tag
        id: generate_tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: ""
          aws-region: us-east-1

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}

      # - name: Build and push
      #   uses: docker/build-push-action@v6
      #   with:
      #     push: true
      #     tags: thalysonluiz/ci-api:${{ steps.generate_tag.outputs.sha }},thalysonluiz/ci-api:latest

      # - name: Build
      #   run: docker build -t thalysonluiz/ci-api:${{ steps.generate_tag.outputs.sha }} .

      # - name: Push image
      #   run: docker push thalysonluiz/ci-api:${{ steps.generate_tag.outputs.sha }}
