name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "Build and Push"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10

      - name: Setup Node.js environment | ${{ matrix.node }}
        uses: actions/setup-node@v6.2.0
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm test
